<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./js/index2.js"></script>
  <script src="./js/index.js"></script>
</head>

<body></body>

<div class="row">
  <div class="col-md-3">
    <img src="image6.jpg" width="110%" height="150px" style="margin:0px;">
  </div>
  <div class="col-md-3">
    <img src="image7.jpg" width="110%" height="150px" style="margin:0px;">
  </div>
  <div class="col-md-3">
    <img src="image8.jpg" width="110%" height="150px" style="margin:0px;">
  </div>
  <div class="col-md-3">
    <img src="image2.jpg" width="110%" height="150px" style="margin:0px;">
  </div>
</div>

{{{body}}}
</body>

</html>